In [1]:
import pandas as pd
from _conf import BASELINE_ARCHIVES
from _utils import parse_solution_overview

In [2]:
baseline_data = pd.concat(
    [parse_solution_overview(p) for p in BASELINE_ARCHIVES], ignore_index=True
)
baseline_data = baseline_data.drop_duplicates(
    subset=[
        "Instance",
        "AlgorithmID",
        "SystemIteration",
        "ModelID",
        "Settings",
        "ArchivePath",
    ]
)
baseline_data.loc[baseline_data["Path"].isna(), "SampleSize"] = None
baseline_data = baseline_data[
    [
        "Instance",
        "#Variables",
        "#Clauses",
        "Algorithm",
        "Settings",
        "Time",
        "SampleSize",
        "Path",
        "ArchivePath",
    ]
]
baseline_data.rename(
    columns={
        "Time": "runtime",
        "#Variables": "num_vars",
        "#Clauses": "num_clauses",
        "Instance": "instance_name",
        "Path": "path_to_baseline_sample",
        "Algorithm": "baseline_alg",
        "Settings": "baseline_alg_conf",
        "SampleSize": "sample_size",
        "ArchivePath": "archive_path",
    },
    inplace=True,
)
print(baseline_data["baseline_alg"].unique())
baseline_data.dropna(subset=["baseline_alg"], inplace=True)
print(baseline_data["baseline_alg"].unique())
#print(list(baseline_data["baseline_alg"]))
baseline_data = baseline_data[~baseline_data["baseline_alg"].str.startswith("YASA")]
baseline_data

Found the data folders: {'2024-03-05_20-58-33/', '2024-03-05_20-59-10/', '2024-03-05_20-59-01/', '2024-03-05_20-58-42/', '2024-03-05_20-58-53/', '2024-03-05_20-58-25/'}
['FIDE-ICPL' 'FIDE-Chvatal' 'Incling' 'FIDE-YASA' 'ACTS-IPOG-FT'
 'ACTS-IPOG-CSP' 'ACTS-IPOF-FT' 'ACTS-IPOF-CSP']
['FIDE-ICPL' 'FIDE-Chvatal' 'Incling' 'FIDE-YASA' 'ACTS-IPOG-FT'
 'ACTS-IPOG-CSP' 'ACTS-IPOF-FT' 'ACTS-IPOF-CSP']

,instance_name,num_vars,num_clauses,baseline_alg,baseline_alg_conf,runtime,sample_size,path_to_baseline_sample,archive_path
0,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,5786,253.0,2024-03-05_20-58-33/1_1_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
1,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,5756,244.0,2024-03-05_20-58-33/1_2_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
2,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,6510,246.0,2024-03-05_20-58-33/1_3_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
3,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,5444,261.0,2024-03-05_20-58-33/1_4_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
4,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,6051,242.0,2024-03-05_20-58-33/1_5_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
...,...,...,...,...,...,...,...,...,...
2580,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900008,NaN,None,./EXTERNAL_INPUT/baseline.zip
2581,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900008,NaN,None,./EXTERNAL_INPUT/baseline.zip
2582,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900006,NaN,None,./EXTERNAL_INPUT/baseline.zip
2583,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900008,NaN,None,./EXTERNAL_INPUT/baseline.zip
2584,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900007,NaN,None,./EXTERNAL_INPUT/baseline.zip

In [3]:
print(baseline_data["instance_name"].nunique())
baseline_data["instance_name"].unique()

47

array(['fiasco_2017-09-26_11-30-56', 'fiasco_2020-12-01_14-09-14',
       'uclibc_2008-06-05_13-46-47', 'uclibc_2020-12-24_11-54-53',
       'integrator_arm7', 'XSEngine', 'busybox_2020-12-16_21-53-05',
       'FameDB', 'busybox-1_29_2', 'soletta_2017-03-09_21-02-40', 'lcm',
       'dell', 'ChatClient', 'SafeBali', 'am31_sim', 'TightVNC',
       'EMBToolkit', 'car', 'financial_services', 'SortingLine',
       'WaterlooGenerated', 'busybox-1_18_0',
       'toybox_2006-10-31_23-30-06', 'busybox_2007-01-24_09-14-09',
       'APL-Model', 'email', 'calculate', 'FeatureIDE', 'gpl', 'APL',
       'fs_2017-05-22', 'aaed2000', 'FreeBSD-8_0_0', 'ea2468', 'Violet',
       'berkeleyDB2', 'soletta_2015-06-26_18-38-56', 'eCos-3-0_i386pc',
       'PPU', 'berkeleyDB1', 'axTLS', 'BattleofTanks', 'BankingSoftware',
       'E-Shop', 'toybox_2020-12-06_00-02-46', 'DMIE', 'atlas_mips32_4kc'],
      dtype=object)

In [4]:
baseline_data

,instance_name,num_vars,num_clauses,baseline_alg,baseline_alg_conf,runtime,sample_size,path_to_baseline_sample,archive_path
0,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,5786,253.0,2024-03-05_20-58-33/1_1_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
1,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,5756,244.0,2024-03-05_20-58-33/1_2_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
2,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,6510,246.0,2024-03-05_20-58-33/1_3_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
3,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,5444,261.0,2024-03-05_20-58-33/1_4_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
4,fiasco_2017-09-26_11-30-56,230,1181,FIDE-ICPL,t2,6051,242.0,2024-03-05_20-58-33/1_5_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
...,...,...,...,...,...,...,...,...,...
2580,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900008,NaN,None,./EXTERNAL_INPUT/baseline.zip
2581,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900008,NaN,None,./EXTERNAL_INPUT/baseline.zip
2582,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900006,NaN,None,./EXTERNAL_INPUT/baseline.zip
2583,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900008,NaN,None,./EXTERNAL_INPUT/baseline.zip
2584,atlas_mips32_4kc,1229,2875,ACTS-IPOF-CSP,t2,900007,NaN,None,./EXTERNAL_INPUT/baseline.zip

In [5]:
from _conf import YASA_15MIN_DATA

yasa_data = pd.read_json(YASA_15MIN_DATA)
yasa_data

,instance,sample_size,path
0,soletta_2017-03-09_21-02-40,63,/home/krupke/Repositories/SampLNS/evaluation/0...
1,soletta_2017-03-09_21-02-40,64,/home/krupke/Repositories/SampLNS/evaluation/0...
2,soletta_2017-03-09_21-02-40,62,/home/krupke/Repositories/SampLNS/evaluation/0...
3,soletta_2017-03-09_21-02-40,63,/home/krupke/Repositories/SampLNS/evaluation/0...
4,soletta_2017-03-09_21-02-40,63,/home/krupke/Repositories/SampLNS/evaluation/0...
...,...,...,...
240,am31_sim,69,/home/krupke/Repositories/SampLNS/evaluation/0...
241,am31_sim,72,/home/krupke/Repositories/SampLNS/evaluation/0...
242,am31_sim,70,/home/krupke/Repositories/SampLNS/evaluation/0...
243,am31_sim,72,/home/krupke/Repositories/SampLNS/evaluation/0...
244,am31_sim,72,/home/krupke/Repositories/SampLNS/evaluation/0...

In [6]:
# extend yasa data by missing informations
yasa_data.rename(columns={"instance": "instance_name", "path": "path_to_baseline_sample"}, inplace=True)
num_vars = baseline_data.set_index("instance_name")["num_vars"].to_dict()
num_clauses = baseline_data.set_index("instance_name")["num_clauses"].to_dict()
yasa_data["num_vars"] = yasa_data["instance_name"].map(num_vars)
yasa_data["num_clauses"] = yasa_data["instance_name"].map(num_clauses)
yasa_data["runtime"] = 900_000
yasa_data["archive_path"] = None
yasa_data["baseline_alg"] = "FIDE-YASA(15min)"
yasa_data["baseline_alg_conf"] = ""
yasa_data

,instance_name,sample_size,path_to_baseline_sample,num_vars,num_clauses,runtime,archive_path,baseline_alg,baseline_alg_conf
0,soletta_2017-03-09_21-02-40,63,/home/krupke/Repositories/SampLNS/evaluation/0...,458.0,1862.0,900000,None,FIDE-YASA(15min),
1,soletta_2017-03-09_21-02-40,64,/home/krupke/Repositories/SampLNS/evaluation/0...,458.0,1862.0,900000,None,FIDE-YASA(15min),
2,soletta_2017-03-09_21-02-40,62,/home/krupke/Repositories/SampLNS/evaluation/0...,458.0,1862.0,900000,None,FIDE-YASA(15min),
3,soletta_2017-03-09_21-02-40,63,/home/krupke/Repositories/SampLNS/evaluation/0...,458.0,1862.0,900000,None,FIDE-YASA(15min),
4,soletta_2017-03-09_21-02-40,63,/home/krupke/Repositories/SampLNS/evaluation/0...,458.0,1862.0,900000,None,FIDE-YASA(15min),
...,...,...,...,...,...,...,...,...,...
240,am31_sim,69,/home/krupke/Repositories/SampLNS/evaluation/0...,1178.0,2747.0,900000,None,FIDE-YASA(15min),
241,am31_sim,72,/home/krupke/Repositories/SampLNS/evaluation/0...,1178.0,2747.0,900000,None,FIDE-YASA(15min),
242,am31_sim,70,/home/krupke/Repositories/SampLNS/evaluation/0...,1178.0,2747.0,900000,None,FIDE-YASA(15min),
243,am31_sim,72,/home/krupke/Repositories/SampLNS/evaluation/0...,1178.0,2747.0,900000,None,FIDE-YASA(15min),
244,am31_sim,72,/home/krupke/Repositories/SampLNS/evaluation/0...,1178.0,2747.0,900000,None,FIDE-YASA(15min),

In [7]:
baseline_data = pd.concat([baseline_data, yasa_data], ignore_index=True)
baseline_data

,instance_name,num_vars,num_clauses,baseline_alg,baseline_alg_conf,runtime,sample_size,path_to_baseline_sample,archive_path
0,fiasco_2017-09-26_11-30-56,230.0,1181.0,FIDE-ICPL,t2,5786,253.0,2024-03-05_20-58-33/1_1_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
1,fiasco_2017-09-26_11-30-56,230.0,1181.0,FIDE-ICPL,t2,5756,244.0,2024-03-05_20-58-33/1_2_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
2,fiasco_2017-09-26_11-30-56,230.0,1181.0,FIDE-ICPL,t2,6510,246.0,2024-03-05_20-58-33/1_3_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
3,fiasco_2017-09-26_11-30-56,230.0,1181.0,FIDE-ICPL,t2,5444,261.0,2024-03-05_20-58-33/1_4_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
4,fiasco_2017-09-26_11-30-56,230.0,1181.0,FIDE-ICPL,t2,6051,242.0,2024-03-05_20-58-33/1_5_0_1_sample.csv,./EXTERNAL_INPUT/baseline.zip
...,...,...,...,...,...,...,...,...,...
2825,am31_sim,1178.0,2747.0,FIDE-YASA(15min),,900000,69.0,/home/krupke/Repositories/SampLNS/evaluation/0...,None
2826,am31_sim,1178.0,2747.0,FIDE-YASA(15min),,900000,72.0,/home/krupke/Repositories/SampLNS/evaluation/0...,None
2827,am31_sim,1178.0,2747.0,FIDE-YASA(15min),,900000,70.0,/home/krupke/Repositories/SampLNS/evaluation/0...,None
2828,am31_sim,1178.0,2747.0,FIDE-YASA(15min),,900000,72.0,/home/krupke/Repositories/SampLNS/evaluation/0...,None
2829,am31_sim,1178.0,2747.0,FIDE-YASA(15min),,900000,72.0,/home/krupke/Repositories/SampLNS/evaluation/0...,None

In [8]:
baseline_data.to_json("./OUTPUT/01_simple_baseline_data.json.zip")